<nav style="background-color: #084B8A;" class="navbar navbar-expand-lg navbar-dark ">
    <a class="navbar-brand" routerLink="/">Tabernáculo da Vida</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#textoNavbar" aria-controls="textoNavbar" aria-expanded="false" aria-label="Alterna navegação">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="textoNavbar">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" routerLink="/">Home <span class="sr-only">(Página atual)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/biblia">Biblia</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/hinario">Hinario</a>
        </li>
      </ul>
  
    </div>
  </nav>
