<nav  style="color: #1280e6b6;border-bottom: 2px solid #1280e6b6;height: 70px;" class="navbar navbar-expand-sm navbar-dark" >
  <div class="container-fluid" style="margin-right: auto;">
    <a class="navbar-brand" style="width: 150px;color: rgba(0, 0, 0, 0);">-</a>
    
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0" style="font-weight: bold">
        <li class="nav-item">
          <a mat-flat-button  class="nav-link active" aria-current="page" routerLink="/"style="width: 150px;color: #1280e6b6;" color="white">Home</a>
        </li>
        <li class="nav-item">
          <a mat-flat-button class="nav-link" routerLink="/biblia"  style="width: 150px;color: #1280e6b6;" color="white">Biblia</a>
        </li>
        <li class="nav-item">
          <a  mat-flat-button class="nav-link" routerLink="/hinario" style="width: 150px;color: #1280e6b6;" color="white" >Busca Hinário (Beta)</a>
        </li>
      </ul>
    </div>
    <h5  style="color: #1280e6b6">Tabernáculo da Vida</h5>
  </div>
</nav>

<!---
<nav style="background-color: #084B8A;" class="navbar navbar-expand-lg navbar-dark ">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="/">Tabernáculo da Vida</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#textoNavbar" aria-controls="textoNavbar" aria-expanded="false" aria-label="Alterna navegação">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="textoNavbar">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" routerLink="/">Home <span class="sr-only">(Página atual)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/biblia">Biblia</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/hinario">Hinario</a>
        </li>
      </ul>
  
    </div>
  </div>
  </nav>
--->