<div style="text-align: center">
  <h1 style="font-size: 3rem;margin-bottom: 20px;margin-top: 20px;" >Biblia Sagrada</h1>
  <div class="view" (click)="view($event.target)" *ngIf="livrosAll && livro && capitulo">
    <h1 class="viewLiv">{{livro}}</h1>
    <h1 class="viewCap">{{capitulo}}</h1>
  </div>
  <div class="d-flex">
    <div *ngIf="livrosAll" class="input-group mb-3" style="width: 400px">
      <div class="input-group-prepend">
        <label class="input-group-text" for="inputGroupSelect01">Livro</label>
      </div>

      <select class="custom-select" name="selLiv" (change)="getAllCaptulo($event.target.value)">
        <option  value="Selecionar"></option>
        <option *ngFor="let l of livrosAll" [value]="l">{{ l }}</option>
      </select>
    </div>

    <div *ngIf="allCapitulos && livro" class="input-group mb-3">
      <div class="input-group-prepend">
        <label class="input-group-text" for="inputGroupSelect01">Capitulos</label>
      </div>

      <select class="custom-select" name="selCap" (change)="getCaptulo(livro, $event.target.value)">
        <option  value="Selecionar">Selecionar</option>
        <option *ngFor="let c of allCapitulos" [value]="c">{{ c }}</option>
      </select>
    </div>
  </div>
</div>
<hr />
<table *ngIf="allVersiculos" class="table table-striped">
  <thead>
    
  </thead>
  <tbody>
      <tr *ngFor="let verse of allVersiculos" id="vers-{{ verse.numero }}">
        <th scope="row">
          <p>
            <span style="color: red">{{ verse.numero }}</span>
            {{ verse.conteudo }}
          </p>
        </th>
      </tr>
  </tbody>
</table>