.CountainerConf {
  top: 0px;
  position: fixed;
  cursor: pointer;
  height: 100%;
  width: 200px;
  width: 200px;
  text-align: center;
  background-color: rgba(255, 255, 255, 0);
  .mat-sidenav {
    background-color: #1280e6;
    border-right: 2px solid #1280e6b6;
    border-top: 2px solid #1280e6b6;

    button {
      width: 100%;
      text-align: left;
      color: white;
      background-color: #1280e6b6;
    }
  }
}

.mat-sidenav-content {
  width: 100%;
  background-color: rgba(255, 255, 255, 0);
  text-align: center;
}
.mat-expansion-panel {
  background-color: white;
  .mat-expansion-panel-header {
    background-color: #1280e6b6;
    color: white;
  }
}
